{% extends "base.html" %}
{% load  static %}

<!-- custom css imports -->
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container pt-3">
        <div class="columns mb-0">
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
            <div class="column has-text-centered is-narrow">
                <h2 class="has-text-white title has-text-weight-light">Profile</h2>
            </div>
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
        </div>
    </div>

{% endblock %}
