{% extends "base.html" %}
{% load  static %}

<!-- custom css imports -->
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
    <div class="container">
        <!-- header section -->
        <div class="section">
            <div class="columns mb-0">
                <div class="column ">
                    <hr class="has-background-grey-lighter">
                </div>
                <div class="column has-text-centered is-narrow">
                    <h2 class="has-text-white title is-size-4">Welcome</h2>
                    <h2 class="has-text-white title is-size-4">{{ request.user|upper }} </h2>
                </div>
                <div class="column ">
                    <hr class="has-background-grey-lighter">
                </div>
            </div>
        </div>
        <!-- END: header section -->
        <!-- profile section -->
        <div class="section py-0 px-0">
            <div class="columns is-mobile is-multiline is-justified-center">
                <div class="column is-10-mobile is-6-desktop has-text-grey">
                    <div class="columns is-mobile is-multiline is-justified-center">
                        <!-- Details Form -->
                        <div class="column is-12-mobile is-8-desktop">
                            <h3>Personal Details</h3>
                            <form action="{% url "profile" %}" method="POST" id="profile-form">
                                {% csrf_token %}
                                <!-- Phone Number -->
                                <label for="profile_form.default_phone_number id_for_label"
                                       class="label has-text-white mt-3 has-text-weight-medium">
                                    Phone Number
                                </label>
                                {{ profile_form.default_phone_number }}
                                <!-- default street address1 -->
                                <label for="profile_form.default_street_address1.id_for_label"
                                       class="label has-text-white mt-3 has-text-weight-medium">
                                    Street Address 1
                                </label>
                                {{ profile_form.default_street_address1 }}
                                <!-- default street address2 -->
                                <label for="profile_form.default_street_address2.id_for_label"
                                       class="label has-text-white mt-3 has-text-weight-medium">
                                    Street Address 2
                                </label>
                                {{ profile_form.default_street_address2 }}
                                <!-- Town or city -->
                                <label for="profile_form.default_town_or_city.id_for_label"
                                       class="label has-text-white mt-3 has-text-weight-medium">
                                    Town or City
                                </label>
                                {{ profile_form.default_town_or_city }}
                                <!-- County -->
                                <label for="profile_form.default_county.id_for_label"
                                       class="label has-text-white mt-3 has-text-weight-medium">
                                    County
                                </label>
                                {{ profile_form.default_county }}
                                <!-- Postcode -->
                                <label for="profile_form.default_postcode.id_for_label"
                                       class="label has-text-white mt-3 has-text-weight-medium">
                                    Postcode
                                </label>
                                {{ profile_form.default_postcode }}
                                <!-- Country -->
                                <label for="order_form.default_country.id_for_label"
                                       class="label has-text-white mt-3 has-text-weight-medium">
                                    Country
                                </label>
                                <div class="control has-icons-left">
                                    <div class="select is-fullwidth">
                                        {{ profile_form.default_country }}
                                    </div>
                                    <div class="icon is-small is-left">
                                        <i class="fas fa-globe"></i>
                                    </div>
                                </div>
                                <button type="submit" class="button is-outlined is-success mt-5 is-fullwidth">Update
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="column is-10-mobile is-6-desktop has-text-grey mt-3 ">
                    <h3 class="mb-4">Previous Orders</h3>
                    <table class="table has-background-black-ter has-text-white is-fullwidth "
                           aria-describedby="table of previous orders">
                        <tr>
                            <!-- Orders table headers -->
                            <th scope="col" class="has-text-white">Order Number</th>
                            <th scope="col" class="has-text-white">Order Date</th>
                            <th scope="col" class="has-text-white">Order Total</th>
                        </tr>
                        {% for order in previous_orders %}
                            <tr>
                                <!-- Order number -->
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}">{{ order.order_number|truncatechars:6 }}</a>
                                </td>
                                <!-- order date -->
                                <td>
                                    <p class="is-size-7-mobile">{{ order.date.date }}</p>
                                </td>
                                <!-- order total -->
                                <td>
                                    <p>£ {{ order.grand_total }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
