{% extends "base.html" %}
{% load  static %}

<!-- custom css imports -->
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container pt-3">
        <div class="columns mb-0">
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
            <div class="column has-text-centered is-narrow">
                <h2 class="has-text-white title has-text-weight-light">Checkout</h2>
            </div>
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
        </div>
        <!-- Checkout Steps -->
        <div class="section is-line-1 mt-0 pt-0">
            <div class="columns is-mobile">
                <div class="column">
                    <ul class="steps is-narrow is-medium is-centered has-content-centered">

                        <!-- Shopping Cart -->
                        <li class="steps-segment ">
                            <a href="{% url 'view_cart' %}" class="has-text-dark">
                                <span class="steps-marker">
                                    <span class="icon"><i class="fa fa-shopping-cart"></i></span>
                                </span>
                                <div class="steps-content">
                                    <p class="heading has-text-white">Shopping Cart</p>
                                </div>
                            </a>
                        </li>

                        <!-- Payment -->
                        <li class="steps-segment is-active">
                            <a href="{% url 'checkout' %}" class="has-text-dark">
                            <span class="steps-marker">
                                <span class="icon"><i class="fa fa-usd"></i></span>
                            </span>
                                <div class="steps-content">
                                    <p class="heading has-text-white">Payment</p>
                                </div>
                            </a>
                        </li>
                        <!-- Complete -->
                        <li class="steps-segment">
                            <span class="steps-marker">
                                <span class="icon"><i class="fa fa-check"></i></span>
                            </span>
                            <div class="steps-content">
                                <p class="heading">Confirmation</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <!-- Checkout Form -->
        <div class="section is-line-1">
            <div class="columns is-mobile is-multiline ">
                <div class="column is-4 is-offset-4">
                    <form action=" {% url 'checkout' %}" method="POST" id="payment-form">
                        {% csrf_token %}

                        <fieldset class="has-text-white ">
                            <legend class="has-text-centered"><i class="fas fa-id-card px-2 has-text-info"></i> Personal
                                Details
                            </legend>
                            <!-- Name -->
                            <label for="order_form.full_name.id_for_label"
                                   class="label has-text-white mt-3 has-text-weight-medium">
                                Full Name
                                <span class="has-text-danger"> * </span>
                            </label>
                            {{ order_form.full_name }}
                            <!-- Email -->
                            <label for="order_form.email.id_for_label"
                                   class="label has-text-white mt-3 has-text-weight-medium">
                                </i> Email Address
                                <span class="has-text-danger"> *</span>
                            </label>
                            {{ order_form.email }}
                            <!-- Phone Number -->
                            <label for="order_form.phone_number.id_for_label"
                                   class="label has-text-white mt-3 has-text-weight-medium">
                                Phone Number
                                <span class="has-text-danger"> *</span>
                            </label>
                            {{ order_form.phone_number }}
                        </fieldset>

                        <fieldset class="has-text-white mt-5">
                            <legend class="has-text-centered"><i class="fas fa-home px-2 has-text-info"></i>Address
                                Details
                            </legend>
                            <!-- Address 1 -->
                            <label for="order_form.street_address1.id_for_label"
                                   class="label has-text-white mt-3 has-text-weight-medium">
                                Address 1
                                <span class="has-text-danger"> *</span>
                            </label>
                            {{ order_form.street_address1 }}
                            <!-- Address 2 -->
                            <label for="order_form.street_address2.id_for_label"
                                   class="label has-text-white mt-3 has-text-weight-medium">
                                Address 2
                            </label>
                            {{ order_form.street_address2 }}
                            <!-- Town -->
                            <label for="order_form.town.id_for_label"
                                   class="label has-text-white mt-3 has-text-weight-medium">
                                Town / City
                                <span class="has-text-danger"> *</span>
                            </label>
                            {{ order_form.town_or_city }}
                            <!-- Postcode -->
                            <label for="order_form.postcode.id_for_label"
                                   class="label has-text-white mt-3 has-text-weight-medium">
                                Postcode
                                <span class="has-text-danger"> *</span>
                            </label>
                            {{ order_form.postcode }}
                            <!-- County -->
                            <label for="order_form.county.id_for_label"
                                   class="label has-text-white mt-3 has-text-weight-medium">
                                County
                            </label>
                            {{ order_form.county }}
                            <!-- Country -->
                            <label for="order_form.country.id_for_label"
                                   class="label has-text-white mt-3 has-text-weight-medium">
                                Country
                                <span class="has-text-danger"> *</span>
                            </label>
                            <div class="control has-icons-left">
                                <div class="select is-fullwidth">
                                    {{ order_form.country }}
                                </div>
                                <div class="icon is-small is-left">
                                    <i class="fas fa-globe"></i>
                                </div>
                            </div>
                        </fieldset>

                         <fieldset class="has-text-white mt-5">
                            <legend class="has-text-centered"><i class="fas fa-credit-card px-2 has-text-info"></i>Card Details
                            </legend>
                             <!-- Card Details -->
                             <label for="" class="label has-text-white mt-3 has-text-weight-medium">
                                 Card Details
                                 <span class="has-text-danger"> *</span>
                             </label>
                        </fieldset>

                        <!-- A Stripe card element -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Stripe error display -->
                        <div class="mb-3 has-text-danger" id="card-errors" role="alert"></div>
                        <!-- Client secret to send the intent -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">

                        <!-- Submit button -->
                        <button type="submit" class="button is-warning is-outlined is-pulled-right mt-3"
                                id="submit-payment-button">
                            <span class="icon is-small mr-3">
                                <i class="fas fa-lock"></i>
                            </span> Submit
                        </button>
                        <!-- Back to cart button -->
                        <a href="{% url 'view_cart' %}" class="button is-primary is-outlined  mt-3 is-pulled-left ">
                            Shopping Cart
                        </a>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block post-custom-js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    {#    Stripe Script #}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}