{% extends "base.html" %}
{% load  static %}

<!-- custom css imports -->
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container pt-3">
        <div class="columns mb-0">
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
            <div class="column has-text-centered is-narrow">
                <h2 class="has-text-white title has-text-weight-light">Payment</h2>
            </div>
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
        </div>
        <!-- Checkout Steps -->
        <div class="section is-line-1 mt-0 pt-0">
            <div class="columns is-mobile">
                <div class="column">
                    <ul class="steps is-narrow is-medium is-centered has-content-centered">
                        <!-- Shopping Cart -->
                        <li class="steps-segment ">
                            <a href="{% url 'view_cart' %}" class="has-text-dark">
                                <span class="steps-marker">
                                    <span class="icon"><i class="fa fa-shopping-cart"></i></span>
                                </span>
                                <div class="steps-content">
                                    <p class="heading has-text-white">Shopping Cart</p>
                                </div>
                            </a>
                        </li>
                        <!-- User Information -->
                        <li class="steps-segment">
                            <a href="{% url 'checkout' %}" class="has-text-dark">
                                <span class="steps-marker">
                                    <span class="icon"><i class="fa fa-user"></i></span>
                                </span>
                                <div class="steps-content">
                                    <p class="heading has-text-white">User Information</p>
                                </div>
                            </a>
                        </li>
                        <!-- Payment -->
                        <li class="steps-segment is-active">
                            <span class="steps-marker">
                                <span class="icon"><i class="fa fa-usd"></i></span>
                            </span>
                            <div class="steps-content">
                                <p class="heading">Payment</p>
                            </div>
                        </li>
                        <!-- Complete -->
                        <li class="steps-segment">
                            <span class="steps-marker">
                                <span class="icon"><i class="fa fa-check"></i></span>
                            </span>
                            <div class="steps-content">
                                <p class="heading">Confirmation</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="section is-line-1">
            <div class="columns is-mobile is-multiline ">
                <div class="column is-one-third is-offset-one-third">
                    <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 has-text-danger" id="card-errors" role="alert"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block post-custom-js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}