
.fieldset-label {
    position: relative;
    right: .5rem;
}

.form-control
{
    color: #000000;
    border: 1px solid #000000;
}

select,
select option{
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}
