/* Global styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', serif;
    line-height: 0;
    background: #000000;
}

/* Navigation menu */

/* menu texture src:https://www.transparenttextures.com/ */
.texture {
    background: url(https://res.cloudinary.com/dajuujhvs/image/upload/v1598792843/saturn/bright-squares_zbegjs.png);
}

/* main logo styles */
.main-logo {
    font-weight: 500;
}

.main-logo-image {
    max-height: 2.3rem !important;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

.image-spin {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Helper Classes */
.has-text-shadow-3 {
    text-shadow: 3px 3px black;
}

.is-justified-center {
    justify-content: center !important;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.is-z-60 {
    z-index: 60;
}

/* Media Queries */
@media (max-width: 991px) {

    .navbar {
        position: relative;
        top: -45px;
    }

    .navbar-item {
        padding-left: 0;
    }

    .menu-button-group {
        justify-content: normal !important;
    }

    .menu-button {
        font-size: 0.75rem;
        padding: 0 1em;
    }

    .dropdown.is-right .dropdown-menu {
        left: 0;
        right: 0;
    }

    /*.carousel {*/
    /*    overflow: hidden;*/
    /*    height: 30vh;*/
    /*}*/
    /*.carousel-cell img {*/
    /*    height: 30vh;*/
    /*}*/
    .flickity-button {
        display: none;
    }

    .main-slider {
        padding: 0;
        margin: 0;
    }
}


/* Test flickity */

.carousel {
    width: 95%;
}


/* position dots up a bit */
.flickity-page-dots {
    bottom: -22px;
}

/* dots are lines */
.flickity-page-dots .dot {
    height: 5px;
    width: 40px;
    margin: 0;
    border-radius: 0;
    background: #EEEEEE;
}

.carousel-cell {
    display: block;
    width: 100%;
    margin-right: 10px;
    text-align: inherit;
}

.carousel-cell img {
    display: block;
}

.main-slider {
    text-align: center;
    text-align: -webkit-center;
    position: relative;
    top: -35px;
}

.card-title {
    font-size: 0.85em;
}

.card:hover {
    box-shadow: 0 0 8px 4px #393939;
    transform: scale(1.01);
}