<footer class="hide-mobile">
    <div class="navbar is-dark has-background-black-ter is-fixed-bottom py-3">
        <div id="navbar-menu" class="navbar-menu">
            <div class="navbar-start mx-auto ">
                <!-- Discord link -->
                <a class="navbar-item has-text-weight-bold has-text-centered discord-hover" href="https://discord.com"
                   target="_blank" rel="noopener noreferrer">
                           <span class="icon has-text-grey">
                            <i class="fab fa-discord fa-2x "></i>
                            </span>
                </a>
                <!-- instagram link -->
                <a class="navbar-item has-text-weight-bold has-text-centered insta-hover"
                   href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                           <span class="icon has-text-grey">
                            <i class="fab fa-instagram-square fa-2x"></i>
                            </span>
                </a>
                <!-- Facebook link -->
                <a class="navbar-item has-text-weight-bold has-text-centered fb-hover" href="https://www.facebook.com"
                   target="_blank" rel="noopener noreferrer">
                           <span class="icon has-text-grey">
                            <i class="fab fa-facebook-square fa-2x"></i>
                            </span>
                </a>
                <!-- Twitch link -->
                <a class="navbar-item has-text-weight-bold has-text-centered twitch-hover" href="https://www.twitch.tv"
                   target="_blank" rel="noopener noreferrer">
                           <span class="icon has-text-grey">
                            <i class="fab fa-twitch fa-2x"></i>
                            </span>
                </a>
            </div>
        </div>
    </div>
</footer>