{% load static %}
<div class="columns has-background-dark texture is-vcentered is-gapless px-3 pt-2 mb-0 ">

    <!-- Head Logo -->
    <div class=" column is-12-mobile is-4-tablet is-4-desktop is-z-60">
        <div class="main-logo-container pb-3">
            <a class="is-flex is-justified-center is-baseline " href="{% url 'home' %}">
                <img class="main-logo-image" id="logo-image" src="{% static 'images/turn-games-logo.svg' %} "
                     alt="Saturn Games Logo">
                <span class="main-logo pl-2 is-size-2 has-text-light has-text-weight-bold pt-4 has-text-shadow-3">
                    T<span class="is-size-3 has-text-weight-medium">urn </span>
                    G<span class="is-size-3 has-text-weight-medium">ames</span>
                </span>
            </a>
        </div>
    </div>

    <!-- Search bar -->
    <div class="column is-12-mobile is-4-tablet is-4-desktop is-z-60">
        <form method="GET" action="{% url 'games' %}">
            <div class="field has-addons is-justified-center pb-3 px-4 ">
                <div class="control">
                    <input class="input" type="text" placeholder="Search for games" name="q">
                </div>
                <button class="control button is-link" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                </button>
            </div>
        </form>
    </div>

    <!-- Account and Basket -->
    <div class="column is-12-mobile is-12-tablet is-4-desktop">
        <div class="buttons is-justified-center menu-button-group">

            <!-- Account button-->
            <div class="navbar-item pt-0 is-z-60">
                <div class="dropdown is-hoverable is-right" id="navbar-account-menu">
                    <div class="dropdown-trigger">
                        <button class="button menu-button is-warning " aria-haspopup="true"
                                aria-controls="account-menu-items">
                            <span class="icon is-medium">
                                 <i class="fas fa-user-circle "></i>
                            </span>
                            <span>Account</span>
                            <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu dropdown-buttons is-z-60" id="account-menu-items" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="#" class="dropdown-item ">Management</a>
                                        <hr class="dropdown-divider">
                                    {% endif %}
                                    <a href="#" class="dropdown-item bg-light">Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Basket button -->
            <div class="navbar-item pt-0 is-z-60">
                <div class="dropdown is-hoverable is-right" id="navbar-basket-quick-view ">
                    <div class="dropdown-trigger">
                        <a href="{% url 'view_cart' %}" class="button is-success menu-button" aria-haspopup="true"
                           aria-controls="basket-menu-items">
                            <span class="icon is-medium">
                                 <i class="fas fa-shopping-cart "></i>
                            </span>
                            <span>
                                    {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </span>

                        </a>
                    </div>
                    <div class="dropdown-menu dropdown-buttons is-z-60" id="basket-menu-items" role="menu">
                        <div class="dropdown-content has-background-black ">
                            {% if cart_items|length > 0 %}
                            {% for item in cart_items reversed %}
                                <div class="dropdown-item">
                                    <div class="columns is-mobile is-multiline">
                                        <div class="column is-12">
                                            <img class="image " src="{{ item.game.header_image_url }}"
                                                 alt="{{ item.game.name }}">
                                        </div>
                                        <div class="column is-8 mt-0 pt-0 has-text-white">
                                            <p>{{ item.game.name }} </p>
                                        </div>
                                        <div class="column is-4 mt-0 pt-0 has-text-white">
                                            <p>£{{ item.game.price }} </p>
                                        </div>
                                    </div>
                                </div>
                                        <hr class="dropdown-divider">
                            {% endfor %}

                                {% else %}
                                <div class="dropdown-item">
                                <p class="has-text-white has-text-centered"> Empty </p>
                                </div>
                            {% endif %} 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

