{% load static %}

<nav class="navbar is-dark has-background-black-ter is-fixed-top pt-4 is-spaced pl-0" role="navigation"
     aria-label="main navigation">

    <!-- Main Logo -->
    <div class="navbar-brand px-3">
        <a class="navbar-item main-logo-container is-flex is-justified-center is-baseline " href="{% url 'home' %}">
            <img class="main-logo-image" id="logo-image" src="{% static 'images/turn-games-full-logo.webp' %} "
                 alt="turn games logo">
        </a>
        <!-- END: Main Logo -->

        <!-- Burger Menu  button -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <!-- END: menu burger button -->
    </div>

    <div id="navbar-menu" class="navbar-menu pb-0">
        <div class="navbar-start mx-auto px-1 ">

            <!-- Search bar (mobile only) -->
            <div class="columns is-mobile is-multiline has-background-black-ter is-justified-center"
                 id="mobile-search-and-buttons-bar">
                <!-- END: Basket button -->
                <!-- Search bar (mobile only) -->
                <div class="column is-10 is-z-70">
                    <form method="GET" action="{% url 'games' %}">
                        <div class="field has-addons is-justified-center py-0 px-0">
                            <div class="control">
                                <input aria-label="search input" class="input" type="text"
                                       placeholder="Search for games" name="q">
                            </div>
                            <button class="control button is-link" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END: Search bar (mobile only) -->
            <!-- Basket link -->
            <a class="navbar-item has-text-weight-bold has-text-centered is-hidden-desktop"
               href="{% url 'view_cart' %}">
                           <span class="icon has-text-success">
                            <i class="fas fa-shopping-cart "></i>
                            </span><span>
                {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                {% else %}
                    £0.00
                {% endif %}
            </span>
            </a>
            <hr class="dropdown-divider">


            <!-- home link -->
            <a class="navbar-item has-text-weight-bold has-text-centered " href="{% url 'home' %}">
                           <span class="icon has-text-info">
                            <i class="fas fa-home fa-lg is-hidden-mobile"></i>
                            <i class="fas fa-home is-hidden-desktop mr-2"></i>
                            </span><span class="is-hidden-desktop">Home</span>
            </a>


            <!-- Categories menu -->
            <div class="navbar-item has-dropdown is-hoverable has-text-centered">
                <div class="navbar-link has-text-weight-bold" id="category-btn"><span class="icon has-text-danger mr-2"><i
                        class="fas fa-gamepad"></i></span>Category
                </div>

                <div class="navbar-dropdown is-z-1000 is-hidden-mobile" id="category-menu">
                    <a class="navbar-item" href="{% url 'games' %}?sort=name&direction=asc">All</a>
                    <a class="navbar-item" href="{% url 'games' %}?category=single_player&sort=name&direction=asc">Single-player</a>
                    <a class="navbar-item" href="{% url 'games' %}?category=co_op&sort=name&direction=asc">Co-op</a>
                    <a class="navbar-item" href="{% url 'games' %}?category=multi_player&sort=name&direction=asc">Multi-player</a>
                    <a class="navbar-item" href="{% url 'games' %}?category=mmo&sort=name&direction=asc">MMO</a>
                    <a class="navbar-item"
                       href="{% url 'games' %}?category=full_controller_support&sort=name&direction=asc">Full controller
                        support</a>
                    <a class="navbar-item"
                       href="{% url 'games' %}?category=partial_controller_support&sort=name&direction=asc">Partial
                        Controller Support</a>
                </div>
            </div>
            <!-- END: Categories menu -->

            <!-- Genre Menu -->
            <div class="navbar-item has-dropdown is-hoverable has-text-centered">
                <div class="navbar-link has-text-weight-bold" id="genre-btn">
                                <span class="icon has-text-warning mr-2">
                            <i class="fas fa-dice"></i>
                            </span>
                    Genres
                </div>

                <div class="navbar-dropdown has-text-centered is-z-70 is-hidden-mobile" id="genre-menu">
                    <a class="navbar-item" href="{% url 'games' %}?genre=action&sort=name&direction=asc">Action</a>
                    <a class="navbar-item"
                       href="{% url 'games' %}?genre=adventure&sort=name&direction=asc">Adventure</a>
                    <a class="navbar-item" href="{% url 'games' %}?genre=casual&sort=name&direction=asc">Casual</a>
                    <a class="navbar-item"
                       href="{% url 'games' %}?genre=education&sort=name&direction=asc">Education</a>
                    <a class="navbar-item" href="{% url 'games' %}?genre=indie&sort=name&direction=asc">Indie</a>
                    <a class="navbar-item" href="{% url 'games' %}?genre=rpg&sort=name&direction=asc">RPG</a>
                    <a class="navbar-item"
                       href="{% url 'games' %}?genre=simulation&sort=name&direction=asc">Simulation</a>
                    <a class="navbar-item" href="{% url 'games' %}?genre=sports&sort=name&direction=asc">Sports</a>
                    <a class="navbar-item" href="{% url 'games' %}?genre=strategy&sort=name&direction=asc">Strategy</a>
                </div>
            </div>
            <!-- END: Genre Menu -->

            <!-- Specials Menu -->
            <div class="navbar-item has-dropdown is-hoverable has-text-centered">
                <div class="navbar-link has-text-weight-bold" id="specials-btn">
                                <span class="icon mr-2 has-text-success">
                            <i class="fas fa-piggy-bank"></i>
                            </span>
                    Specials
                </div>

                <div class="navbar-dropdown has-text-centered is-z-70 is-hidden-mobile" id="specials-menu">
                    <a class="navbar-item" href="{% url 'games' %}?special_offers=featured&sort=name&direction=asc">Featured</a>
                    <a class="navbar-item" href="{% url 'games' %}?special_offers=discounted&sort=name&direction=asc">Discounted</a>
                </div>
            </div>
            <!-- END: Specials Menu -->

            <!-- Account Menu (mobile only)-->
            <div class="navbar-item has-dropdown is-hoverable has-text-centered mb-4 is-hidden-desktop">
                <div class="navbar-link has-text-weight-bold" id="account-btn">
                                <span class="icon mr-2 has-text-info-dark">
                            <i class="fas fa-user-circle"></i>
                            </span>
                    Account
                </div>

                <div class="navbar-dropdown has-text-centered is-z-70 is-hidden-mobile" id="account-menu">
                    {% if request.user.is_authenticated %}
                        <p class="has-text-centered has-background-black-bis has-text-white is-size-5">{{ request.user|truncatechars:15 }}</p>
                        {% if request.user.is_superuser %}
                            <a href="{% url 'dashboard' %}" class="navbar-item mx-auto px-3">Admin
                                Dashboard</a>
                            <hr class="navbar-divider">
                        {% endif %}
                        <a href="{% url 'profile' %}" class="navbar-item bg-light">Profile</a>
                        <a href="{% url 'account_logout' %}" class="navbar-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="navbar-item">Register</a>
                        <a href="{% url 'account_login' %}" class="navbar-item">Login</a>
                    {% endif %}
                </div>
            </div>
            <!-- END: Account Menu (mobile only) -->


            <!-- Socials (mobile only) -->
            <div class="columns is-mobile is-multiline has-background-black-ter my-0 py-0" id="social-buttons-bar">
                <div class="column is-3 is-z-70 has-text-centered pr-0">
                    <!-- Discord link -->
                    <a class="has-text-weight-bold has-text-centered discord-hover" href="https://discord.com"
                       target="_blank" rel="noopener noreferrer">
                           <span class="icon has-text-grey">
                            <i class="fab fa-discord fa-2x "></i>
                            </span>
                    </a>
                </div>
                <div class="column is-3 is-z-1000 has-text-centered px-0">
                    <!-- instagram link -->
                    <a class=" has-text-weight-bold has-text-centered insta-hover"
                       href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                           <span class="icon has-text-grey">
                            <i class="fab fa-instagram-square fa-2x"></i>
                            </span>
                    </a>
                </div>
                <div class="column is-3 is-z-1000 has-text-centered px-0">
                    <!-- Facebook link -->
                    <a class=" has-text-weight-bold has-text-centered fb-hover" href="https://www.facebook.com"
                       target="_blank" rel="noopener noreferrer">
                           <span class="icon has-text-grey">
                            <i class="fab fa-facebook-square fa-2x"></i>
                            </span>
                    </a>
                </div>
                <div class="column is-3 is-z-1000 has-text-centered pl-0">
                    <!-- Twitch link -->
                    <a class=" has-text-weight-bold has-text-centered twitch-hover" href="https://www.twitch.tv"
                       target="_blank" rel="noopener noreferrer">
                           <span class="icon has-text-grey">
                            <i class="fab fa-twitch fa-2x"></i>
                            </span>
                    </a>
                </div>
            </div>
            <!-- END: Socials (mobile only) -->

            <!-- Search button (desktop only) -->
            <a class="navbar-item has-text-weight-bold has-text-centered is-hoverable hide-mobile"
               id="search-button">
                   <span class="icon has-text-info">
                    <i class="fas fa-search fa-lg "></i>
                    </span>
            </a>
            <!-- END: Search button (desktop only) -->
        </div>

        <!-- Account menu Menu (desktop only) -->
        <div class="navbar-item has-dropdown is-hoverable has-text-centered hide-mobile">
            <a class="navbar-link has-text-weight-bold has-text-white">
                                <span class="icon mr-2 has-text-warning">
                            <i class="fas fa-user-circle fa-lg"></i>
                            </span>
                <span class="minify">Account</span></a>
            <div class="navbar-dropdown has-text-centered is-right is-z-1000">
                {% if request.user.is_authenticated %}
                    <p class="has-text-centered has-background-black-ter has-text-white is-size-5">{{ request.user }}</p>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'dashboard' %}" class="navbar-item">Admin
                            Dashboard</a>
                        <hr class="dropdown-divider">
                    {% endif %}
                    <a href="{% url 'profile' %}" class="navbar-item bg-light">Profile</a>
                    <a href="{% url 'account_logout' %}" class="navbar-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="navbar-item pt-3">Register</a>
                    <a href="{% url 'account_login' %}" class="navbar-item">Login</a>
                {% endif %}
            </div>
        </div>
        <!-- END: Account Menu (desktop only) -->

        <!-- Basket menu (desktop only) -->
        <div class="navbar-item has-dropdown is-hoverable has-text-centered hide-mobile" id="cart-menu">
            <a class="navbar-link has-text-weight-bold has-text-white" href="{% url 'view_cart' %}">
                                <span class="icon mr-2 has-text-success">
                            <i class="fas fa-shopping-cart fa-lg"></i>
                            </span>
                {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                {% else %}
                    £0.00
                {% endif %}
            </a>
            <div class="navbar-dropdown has-text-centered is-right dropdown-content is-z-1000">
                <p class="has-text-centered has-background-black-ter has-text-white is-size-5 mb-4">Cart</p>
                {% if cart_items|length > 0 %}
                    <!-- render games in cart -->
                    {% for item in cart_items reversed %}
                        <a href="{% url 'game_detail' item.game.id %}" class="basket-menu-item">
                            <div class="dropdown-item my-0 py-0 is-z-60">
                                <div class="columns is-mobile is-multiline">
                                    <div class="column is-12">
                                        <img class="image" src="{{ item.game.header_image_url }}"
                                             alt="{{ item.game.name }}">
                                    </div>
                                    <div class="column is-8 mt-0 pt-0">
                                        <p>{{ item.game.name }} </p>
                                    </div>
                                    <div class="column is-4 mt-0 pt-0 pr-3 has-text-weight-medium">
                                        <p>£{{ item.game.price }} </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <hr class="navbar-divider">
                    {% endfor %}
                    <!-- END: render games in cart -->
                {% else %}
                    <div class="navbar-item">
                        <p class="has-text-centered"> Empty </p>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- END: Basket Menu  (desktop only) -->
    </div>

</nav>