{% load static %}

<div class="columns has-background-black texture is-vcentered px-0 pt-2 pb-0 mb-0 ">

    <!-- Main Logo -->
    <div class=" column is-12-mobile is-12-tablet is-4-desktop is-z-60 pb-0">
        <div class="main-logo-container ">
            <a class="is-flex is-justified-center is-baseline " href="{% url 'home' %}">
                <img class="main-logo-image" id="logo-image" src="{% static 'images/turn-games-logo.svg' %} "
                     alt="turn games logo image ">
                <img class="main-logo-image" id="logo-image" src="{% static 'images/turn-games-text.webp' %} "
                     alt="turn games logo text ">
            </a>
        </div>
    </div>
    <!-- END: Main Logo -->

    <!-- Search bar (desktop only) -->
    <div class="column is-4 is-z-60 py-5" id="search-bar">
        <form method="GET" action="{% url 'games' %}">
            <div class="field has-addons is-justified-center ">
                <div class="control">
                    <input class="input" type="text" placeholder="Search for games" name="q">
                </div>
                <button class="control button is-link" type="submit">
                                <span class="icon"><i class="fas fa-search"></i>
                                </span>
                </button>
            </div>
        </form>
    </div>
    <!-- END: Search bar -->

    <!-- Account and Basket (desktop only) -->
    <div class="column is-4" id="nav-buttons">
        <div class="buttons is-justified-center menu-button-group">
            <!-- Account button-->
            <div class="navbar-item pt-0 is-z-60">
                <div class="dropdown is-hoverable is-right" id="navbar-account-menu">
                    <div class="dropdown-trigger">
                        <button class="button menu-button is-warning " aria-haspopup="true"
                                aria-controls="account-menu-items">
                            <span class="icon is-medium">
                                 <i class="fas fa-user-circle "></i>
                            </span>
                            <span>Account</span>
                            <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <!-- END: Account button-->

                    <!-- Account button dropdown -->
                    <div class="dropdown-menu dropdown-buttons is-z-60" id="account-menu-items" role="menu">
                        <div class="dropdown-content pt-0">
                            <div class="dropdown-item px-0 pt-0">
                                {% if request.user.is_authenticated %}
                                    <p class="has-text-centered has-background-black-ter has-text-white is-size-5">{{ request.user }}</p>
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'dashboard' %}" class="dropdown-item pt-3">Admin Dashboard</a>
                                        <hr class="dropdown-divider">
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item bg-light">Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item pt-3">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Account button dropdown -->

            <!-- Basket button -->
            <div class="navbar-item pt-0 is-z-60">
                <div class="dropdown is-hoverable is-right" id="navbar-basket-quick-view ">
                    <div class="dropdown-trigger">
                        <a href="{% url 'view_cart' %}" class="button is-success menu-button" aria-haspopup="true"
                           aria-controls="basket-menu-items">
                            <span class="icon is-medium">
                                 <i class="fas fa-shopping-cart "></i>
                            </span>
                            <span>
                                    {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </span>
                        </a>
                    </div>
                    <!-- END: Basket button -->

                    <!-- Basket button dropdown -->
                    <div class="dropdown-menu dropdown-buttons is-z-60" id="basket-menu-items" role="menu">
                        <div class="dropdown-content pt-0">
                            <div class="dropdown-item px-0 pt-0">
                                <p class="has-text-centered has-background-black-ter has-text-white is-size-5">Cart</p>
                            </div>
                            {% if cart_items|length > 0 %}
                                <!-- render games in cart -->
                                {% for item in cart_items reversed %}
                                    <a href="{% url 'game_detail' item.game.id %}">
                                        <div class="dropdown-item">
                                            <div class="columns is-mobile is-multiline">
                                                <div class="column is-12">
                                                    <img class="image" src="{{ item.game.header_image_url }}"
                                                         alt="{{ item.game.name }}">
                                                </div>
                                                <div class="column is-8 mt-0 pt-0">
                                                    <p>{{ item.game.name }} </p>
                                                </div>
                                                <div class="column is-4 mt-0 pt-0 pr-3 has-text-weight-medium">
                                                    <p>£{{ item.game.price }} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <hr class="dropdown-divider">
                                {% endfor %}
                                <!-- END: render games in cart -->
                            {% else %}
                                <div class="dropdown-item">
                                    <p class="has-text-centered"> Empty </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- END: Basket button -->
                </div>
            </div>
        </div>
    </div>
</div>

