{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "E-mail Addresses" %}{% endblock %}

{% block inner_content %}
    <div class="section py-0 my-0">
        <div class="columns mb-0">
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
            <div class="column has-text-centered is-narrow">
                <h2 class="has-text-white title has-text-weight-light">{% trans "E-mail Addresses" %}</h2>
            </div>
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
        </div>
    </div>
    <div class="columns is-mobile is-multiline is-justified-center">
        {% if user.emailaddress_set.all %}

            <div class="column is-10">
                <p class="has-text-white">
                    {% trans 'The following e-mail addresses are associated with your account:' %}
                </p>
            </div>

            <div class="column is-10">
                <form action="{% url 'account_email' %}" class="email_list" method="post">
                    {% csrf_token %}
                    <fieldset class="blockLabels">

                        {% for emailaddress in user.emailaddress_set.all %}
                            <div class="ctrlHolder control">
                                <label class="radio" for="email_radio_{{ forloop.counter }}"
                                       class="{% if emailaddress.primary %}primary_email{% endif %}">

                                    <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                                           {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                                           value="{{ emailaddress.email }}"/>

                                    {{ emailaddress.email }}
                                    {% if emailaddress.verified %}
                                        <span class="verified">{% trans "Verified" %}</span>
                                    {% else %}
                                        <span class="unverified">{% trans "Unverified" %}</span>
                                    {% endif %}
                                    {% if emailaddress.primary %}
                                        <span class="primary">{% trans "Primary" %}</span>{% endif %}
                                </label>
                            </div>
                        {% endfor %}

                        <div class="buttons has-addons is-centered">
                            <button class="button is-outlined is-info mt-5" type="submit"
                                    name="action_primary">{% trans 'Make Primary' %}</button>
                            <button class="button is-outlined is-success mt-5 mx-1" type="submit"
                                    name="action_send">{% trans 'Re-send Verification' %}</button>
                            <button class="button is-outlined is-danger mt-5" type="submit"
                                    name="action_remove">{% trans 'Remove' %}</button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="column is-10">
        {% else %}
            <p class="has-text-danger">
                <strong>{% trans 'Warning:' %}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
            </p>
        {% endif %}
            <h3 class="has-text-white ">{% trans "Add an E-mail Address" %}</h3>
        </div>
        <div class="column is-10 has-text-left pt-0">
            <form method="post" action="{% url 'account_email' %}" class="add_email">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button is-outlined is-success mt-5 is-fullwidth" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
            </form>
        </div>

    </div>





{% endblock %}


{% block extra_body %}
    <script type="text/javascript">
        (function () {
            var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function (e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
