{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

    <div class="section py-0 my-0">
        <div class="columns mb-0">
            <div class="column py-0">
                <hr class="has-background-grey-lighter">
            </div>
            <div class="column has-text-centered">
                <h2 class="has-text-white title has-text-weight-light">{% trans "Sign in" %}</h2>
            </div>
            <div class="column py-0">
                <hr class="has-background-grey-lighter">
            </div>
        </div>
    </div>
    <div class="section px-0 py-0">
        <div class="columns is-mobile is-multiline is-justified-center">
            <div class="column is-12">
                {% get_providers as socialaccount_providers %}
                {% if socialaccount_providers %}
                    <p class="has-text-white my-3">{% blocktrans with site.name as site_name %}Please sign in or <a href="{{ signup_url }}" class="has-text-weight-medium">sign up</a>
                        for a <strong class="has-text-white">{{ site_name }} </strong>account.{% endblocktrans %}</p>
                    <div class="socialaccount_ballot">
                        <ul class="socialaccount_providers">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>
                        <div class="login-or has-text-grey">{% trans 'or' %}</div>
                    </div>
                    {% include "socialaccount/snippets/login_extra.html" %}
                {% else %}
                    <p class="has-text-white">{% blocktrans %}If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}
            </div>
            <div class="column is-10 has-text-left mb-3">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                <p class="my-4">
                    <a class="is-info " href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </p>
                    <button class="button is-outlined is-success is-fullwidth mt-5" type="submit">{% trans "Sign In" %}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
