{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

    <div class="section py-0 my-0">
        <div class="columns mb-0">
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
            <div class="column has-text-centered is-narrow">
                <h2 class="has-text-white title has-text-weight-light">{% trans "Password Reset" %}</h2>
            </div>
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
        </div>
    </div>

    <div class="columns is-mobile is-multiline">
        <div class="column is-12">
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="has-text-white">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        </div>
        <div class="column is-6 is-offset-3 has-text-left">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.email.label_tag }}
                {{ form.email }}
                <button class="button is-outlined is-success mt-3 is-fullwidth" type="submit">{% trans 'Reset My Password' %}</button>
            </form>
        </div>
        <div class="column is-12 has-text-centered">
            <p class="has-text-white">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

        </div>
    </div>



{% endblock %}
