{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
    <div class="section py-0 my-0">
        <div class="columns mb-0">
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
            <div class="column has-text-centered is-narrow">
                <h2 class="has-text-white title has-text-weight-light">{% trans "Sign up" %}</h2>
            </div>
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
        </div>
    </div>
    <div class="columns is-mobile is-multiline is-justified-center">
        <div class="column is-10">
            <p class="has-text-white">{% blocktrans %}Already have an account? Then please
                <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
            </p>
        </div>
        <div class="column is-10 has-text-left">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="button is-outlined is-success mt-5 is-fullwidth"  type="submit">{% trans "Sign Up" %}</button>
            </form>

        </div>
    </div>

{% endblock %}
