{% extends "dashboard/dashboard_base.html" %}
{% load  static %}

{% block content %}
    <div class="container pt-3">
        <div class="section pb-3">
            <div class="columns mb-0">
                <div class="column ">
                    <hr class="has-background-grey-dark">
                </div>
                <div class="column has-text-centered is-narrow">
                    <h2 class="has-text-white title">Add Game</h2>
                </div>
                <div class="column ">
                    <hr class="has-background-grey-dark">
                </div>
            </div>
        </div>

        <div class="section pt-0">

            <form action="{% url "add_game" %}" method="POST" id="add-game-form"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="columns is-mobile is-multiline is-justified-center">
                    <div class="column is-12-mobile is-6-desktop">
                        <!-- Game name  -->
                        <label for="id_name"
                               class="label has-text-grey mt-3 ">
                            Game Name
                            <span class="has-text-danger"> *</span>
                        </label>
                        {{ game_form.name }}

                        <!-- Game description  -->
                        <label for="id_description"
                               class="label has-text-grey mt-3 ">
                            Game Description
                            <span class="has-text-danger"> *</span>
                        </label>
                        {{ game_form.description }}

                        <!-- Image file  -->
                        <div class="mt-3">
                            <p class="has-text-grey label">Current Image</p>
                            <img id="current-image" src="{{ game_form.header_image_url.value }}"
                                 alt="thumbnail">
                        </div>

                        <!-- Image URL name  -->
                        <label for="id_header_image_url"
                               class="label has-text-grey mt-3 is-">
                            Header Image URL
                        </label>
                        {{ game_form.header_image_url }}
                        <button type="button" id="upload_widget" class="button is-outlined is-info mt-3 ">Upload image
                        </button>

                    </div>
                    <div class="column is-12-mobile is-6-desktop">
                        <!--  featured -->
                        <label for="id_featured"
                               class="checkbox has-text-grey mt-3 mx-3">
                            Featured
                        </label>
                        {{ game_form.featured }}


                        <!-- release date  -->
                        <label for="id_release_date"
                               class="label has-text-grey mt-3">
                            Release Date
                        </label>
                        {{ game_form.release_date }}

                        <!-- Developer  -->
                        <label for="id_developer"
                               class="label has-text-grey mt-3">
                            Developer
                        </label>
                        {{ game_form.developer }}

                        <!--  Publisher -->
                        <label for="id_publisher"
                               class="label has-text-grey mt-3">
                            Publisher
                        </label>
                        {{ game_form.publisher }}

                        <!--  Platforms -->
                        <label for="id_platforms"
                               class="label has-text-grey mt-3">
                            Platforms
                        </label>
                        {{ game_form.platforms }}


                        <div class="columns is-mobile is-vcentered is-multiline">
                            <div class="column is-12-mobile is-4-desktop">
                                <!--  Price -->
                                <label for="id_price"
                                       class="label has-text-grey mt-3 ">
                                    Price<span class="has-text-danger"> *</span>
                                </label>
                                {{ game_form.price }}
                            </div>
                            <div class="column is-12-mobile is-4-desktop has-text-centered">
                                <!--  discounted -->
                                <label for="id_discounted"
                                       class="checkbox has-text-grey mt-3 mx-3">
                                    Discounted
                                </label>
                                {{ game_form.discounted }}
                            </div>

                            <div class="column is-12-mobile is-4-desktop"> <!--  Discount percent -->
                                <label for="id_discount_percent"
                                       class="label has-text-grey mt-3 ">
                                    Disc. Percent
                                </label>
                                {{ game_form.discount_percent }}</div>
                        </div>
                    </div>
                </div>
                <div class="column-12">
                    <div class="columns is-multiline is-mobile is-justified-center">
                        <div class="column is-12-mobile is-4-desktop">
                            <!--  genre -->
                            <label for="id_genres"
                                   class="label has-text-grey mt-3 ">
                                Genres (hold ctrl)
                            </label>
                            <div class="select is-multiple">
                                {{ game_form.genres }}
                            </div>
                        </div>
                        <div class="column is-12-mobile is-4-desktop">

                            <!--  categories -->
                            <label for="id_categories"
                                   class="label has-text-grey mt-3 ">
                                Categories (hold ctrl)
                            </label>
                            <div class="select is-multiple">
                                {{ game_form.categories }}
                            </div>
                        </div>
                        <div class="column is-12-mobile is-4-desktop">
                            <!--  tags -->
                            <label for="id_tags"
                                   class="label has-text-grey mt-3 ">
                                Tags (hold ctrl)
                            </label>
                            <div class="select is-multiple">
                                {{ game_form.tags }}
                            </div>
                        </div>
                        <div class="column is-12-mobile is-4-desktop">
                            <a href="{% url 'games_management' %}"
                               class="button is-outlined is-danger mt-3 is-fullwidth">Cancel</a>
                        </div>
                        <div class="column"></div>
                        <div class="column is-12-mobile is-4-desktop">
                            <button type="submit" class="button is-outlined is-success mt-3 is-fullwidth ">Add Game
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block post-custom-js %}
    {{ block.super }}
    {#  cloadinary Script src: https://cloudinary.com/documentation/upload_widget #}
    <script type="text/javascript" src="{% static 'dashboard/js/cloudinary.js' %}"></script>

{% endblock %}