{% extends "base.html" %}
{% load  static %}
<!-- custom css imports -->
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

<!-- custom js imports -->
{% block custom-js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

<!-- Dashboard Navbar -->
{% block header %}
    {% include 'includes/dashboard_nav.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="columns">
                <div class="column is-12">
                    <section class="hero is-info welcome is-small mb-4">
                        <div class="hero-body ">
                            <div class="container">
                                <h1 class="title">
                                    Hello, Admin.
                                </h1>
                                <h2 class="subtitle">
                                    I hope you are having a great day!
                                </h2>
                            </div>
                        </div>
                    </section>
                    <section class="info-tiles">
                        <div class="tile is-ancestor has-text-centered">
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title">{{ all_users.count }}</p>
                                    <p class="subtitle">Users</p>
                                </article>
                            </div>

                                <a class="tile is-parent" href="{% url 'games_management' %}">
                                    <article class="tile is-child box">
                                        <p class="title">{{ all_games.count }}</p>
                                        <p class="subtitle">Games</p>
                                    </article>
                                </a>

                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title">{{ all_orders.count }}</p>
                                    <p class="subtitle">Orders</p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title">£ {{ total_sales }}</p>
                                    <p class="subtitle">Total Sales</p>
                                </article>
                            </div>
                        </div>
                    </section>
                    <div class="columns">
                        <div class="column is-4">
                            <div class="card events-card">
                                <canvas id="myChart" width="100" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-12">
                            <div class="card events-card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Events
                                    </p>
                                    <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                                    </a>
                                </header>
                                <div class="card-table is-line-1">
                                    <div class="content">
                                        <table class="table is-fullwidth is-striped">
                                            <tbody>
                                            {% for log in logs %}
                                                <tr>
                                                    {% if log.action_flag == 1 %}
                                                        <td class="is-size-6">
                                                            <i class="fas fa-plus mr-3 has-text-success fa-xl">
                                                            </i>{{ log }}</td>
                                                    {% elif log.action_flag == 2 %}
                                                        <td class="is-size-6">
                                                            <i class="fas fa-edit mr-3 has-text-warning fa-xl">
                                                            </i>{{ log }}</td>
                                                    {% elif log.action_flag == 3 %}
                                                        <td class="is-size-6">
                                                            <i class="fas fa-times mr-3 has-text-danger fa-xl">
                                                            </i>{{ log }}</td>
                                                    {% else %}
                                                        <td class="is-size-6">
                                                            <i class="fas fa-info mr-3 has-text-info fa-xl">
                                                            </i>{{ log }}</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="#" class="card-footer-item">View All</a>
                                </footer>
                            </div>
                        </div>
                        {#                        <div class="column is-6">#}
                        {#                            <div class="card">#}
                        {#                                <header class="card-header">#}
                        {#                                    <p class="card-header-title">#}
                        {#                                        Inventory Search#}
                        {#                                    </p>#}
                        {#                                    <a href="#" class="card-header-icon" aria-label="more options">#}
                        {#                  <span class="icon">#}
                        {#                    <i class="fa fa-angle-down" aria-hidden="true"></i>#}
                        {#                  </span>#}
                        {#                                    </a>#}
                        {#                                </header>#}
                        {#                                <div class="card-content">#}
                        {#                                    <div class="content">#}
                        {#                                        <div class="control has-icons-left has-icons-right">#}
                        {#                                            <input class="input " type="text" placeholder="">#}
                        {#                                            <span class="icon is-medium is-left">#}
                        {#                      <i class="fa fa-search"></i>#}
                        {#                    </span>#}
                        {#                                            <span class="icon is-medium is-right">#}
                        {#                      <i class="fa fa-check"></i>#}
                        {#                    </span>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <div class="card">#}
                        {#                                <header class="card-header">#}
                        {#                                    <p class="card-header-title">#}
                        {#                                        User Search#}
                        {#                                    </p>#}
                        {#                                    <a href="#" class="card-header-icon" aria-label="more options">#}
                        {#                  <span class="icon">#}
                        {#                    <i class="fa fa-angle-down" aria-hidden="true"></i>#}
                        {#                  </span>#}
                        {#                                    </a>#}
                        {#                                </header>#}
                        {#                                <div class="card-content">#}
                        {#                                    <div class="content">#}
                        {#                                        <div class="control has-icons-left has-icons-right">#}
                        {#                                            <input class="input" type="text" placeholder="">#}
                        {#                                            <span class="icon is-medium is-left">#}
                        {#                      <i class="fa fa-search"></i>#}
                        {#                    </span>#}
                        {#                                            <span class="icon is-medium is-right">#}
                        {#                      <i class="fa fa-check"></i>#}
                        {#                    </span>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- custom post load js -->
{% block post-custom-js %}
    {{ block.super }}
    <script src="{% static 'dashboard/js/dashboard.js' %}" type="text/javascript"></script>
{% endblock %}