{% extends "dashboard/dashboard_base.html" %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="columns is-multiline is-mobile">
                <div class="column is-12">
                    <section class="hero is-info welcome is-small mb-4">
                        <div class="hero-body ">
                            <div class="container">
                                <h1 class="title">
                                    Hello, Admin.
                                </h1>
                                <h2 class="subtitle">
                                    I hope you are having a great day!
                                </h2>
                            </div>
                        </div>
                    </section>
                    <section class="info-tiles">
                        <div class="tile is-ancestor has-text-centered">
                            <a class="tile is-parent" href="{% url 'user_management' %}">
                                <article class="tile is-child box">
                                    <p class="title">{{ all_users.count }}</p>
                                    <p class="subtitle">Users</p>
                                </article>
                            </a>

                            <a class="tile is-parent" href="{% url 'games_management' %}">
                                <article class="tile is-child box">
                                    <p class="title">{{ all_games.count }}</p>
                                    <p class="subtitle">Games</p>
                                </article>
                            </a>

                            <a class="tile is-parent" href="{% url 'order_management' %}">
                                <article class="tile is-child box">
                                    <p class="title">{{ all_orders.count }}</p>
                                    <p class="subtitle">Orders</p>
                                </article>
                            </a>

                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title">£ {{ total_sales }}</p>
                                    <p class="subtitle">Total Sales</p>
                                </article>
                            </div>
                        </div>
                    </section>
                    <div class="columns is-mobile is-multiline">
                        <div class="column is-6-desktop is-12-mobile">
                            <div class="card events-card">
                                <canvas id="myChart" width="100" height="86"></canvas>
                            </div>
                        </div>


                        <div class="column is-6-desktop is-12-mobile">
                            <div class="card events-card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Events
                                    </p>
                                </header>
                                <div class="card-table">
                                    <div class="content">
                                        <table class="table is-fullwidth is-striped"
                                               aria-describedby="table of log files">
                                            <th scope="col"></th>
                                            {% for log in logs %}
                                                <tr>
                                                    <!-- Added Logs -->
                                                    {% if log.action_flag == 1 %}
                                                        <td class="is-size-6">
                                                            <i class="fas fa-plus mr-3 has-text-success fa-xl">
                                                            </i>{{ log|truncatechars:35 }}</td>
                                                        <!-- Change Logs -->
                                                    {% elif log.action_flag == 2 %}
                                                        <td class="is-size-6">
                                                            <i class="fas fa-edit mr-3 has-text-warning fa-xl">
                                                            </i>{{ log|truncatechars:35 }}</td>
                                                        <!-- Delete Logs -->
                                                    {% elif log.action_flag == 3 %}
                                                        <td class="is-size-6">
                                                            <i class="fas fa-times mr-3 has-text-danger fa-xl">
                                                            </i>{{ log|truncatechars:35 }}</td>
                                                    {% else %}
                                                        <!-- Info Logs -->
                                                        <td class="is-size-6">
                                                            <i class="fas fa-info mr-3 has-text-info fa-xl">
                                                            </i>{{ log|truncatechars:35 }}</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- custom post load js -->
{% block post-custom-js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            // dataset from python converted to a list for the chart data
            let dataset = '{{orders_per_month}}'.substring(1, '{{orders_per_month}}'.length - 1);
            let dataList = dataset.split(',');
            let days = [];
            // loop to create a list of 1...30
            for (let i = 1; i <= 30; i++) {
                days.push(i);
            }

            // edited code from chart.js documentation src:https://www.chartjs.org/docs/latest/
            let ctx = document.getElementById('myChart').getContext('2d');
            let myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: days,
                    datasets: [{
                        label: 'Daily Total',
                        data: dataList,
                        fill: false,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',

                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Previous 30 days of sales'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Days'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Amount of £'
                            }
                        }]
                    }
                }
            });
        });
    </script>

{% endblock %}
