{% extends "base.html" %}
{% load  static %}
<!-- custom css imports -->
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

<!-- custom js imports -->
{% block custom-js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

<!-- Dashboard Navbar -->
{% block header %}
    {% include 'includes/dashboard_nav.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="columns">
                <div class="column is-12">
                    <section class="hero is-info welcome is-small mb-4">
                        <div class="hero-body ">
                            <div class="container">
                                <h1 class="title">
                                    Order history
                                </h1>
                            </div>
                        </div>
                    </section>
                    <section class="info-tiles">
                        <div class="tile is-ancestor has-text-centered">

                            <a class="tile is-parent" href="{% url 'user_management' %}">
                                <article class="tile is-child box">
                                    <p class="title">{{ all_users.count }}</p>
                                    <p class="subtitle">Users</p>
                                </article>
                            </a>

                            <a class="tile is-parent" href="{% url 'games_management' %}">
                                <article class="tile is-child box">
                                    <p class="title">{{ all_games.count }}</p>
                                    <p class="subtitle">Games</p>
                                </article>
                            </a>

                            <a class="tile is-parent" href="{% url 'order_management' %}">
                                <article class="tile is-child box">
                                    <p class="title">{{ all_orders.count }}</p>
                                    <p class="subtitle">Orders</p>
                                </article>
                            </a>

                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title">£ {{ total_sales }}</p>
                                    <p class="subtitle">Total Sales</p>
                                </article>
                            </div>

                        </div>
                    </section>

                    <div class="columns is-multiline is-mobile is-justified-center">
                        <div class="my-3">
                            <!-- if there is a search term show text of term and a clear icon -->
                            {% if search_term != None %}
                                <p class="has-text-white is-size-5 has-text-weight-bold ">
                                    Showing <span class="has-text-weight-normal"> {{ filtered_orders.count }} </span>
                                    Orders for
                                </p>
                                <p class="has-text-white is-size-5 ">
                                    <em> " {{ search_term }} " </em>
                                    <a class=" has-text-danger" href="{% url 'user_management' %}">
                                        <span class="ml-2"><i class="fas fa-times has-text-danger "></i></span>
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                        <div class="column is-12">
                            <div class="card events-card">
                                <header class="card-header ">
                                    <form method="GET" action="{% url 'order_management' %}">
                                        <div class="field has-addons is-justified-center mx-3 my-3">
                                            <div class="control">
                                                <input class="input " type="text" placeholder="Search for games"
                                                       name="q">
                                            </div>
                                            <button class="control button is-link" type="submit">
                                                            <span class="icon">
                                                                <i class="fas fa-search"></i>
                                                            </span>
                                            </button>
                                        </div>
                                    </form>
                                </header>
                                <div class="card-table">
                                    <div class="content">
                                        <table class="table is-fullwidth is-striped"
                                               aria-describedby="table of all games in database">
                                            <tr>

                                                <th scope="col" class="has-text-black">Order</th>
                                                <th scope="col" class="has-text-black">Date</th>
                                                <th scope="col" class="has-text-centered px-0 mx-0">Amount</th>
                                            </tr>
                                            <tbody>
                                            {% for order in filtered_orders %}
                                                <tr>
                                                    <td class="is-size-6-mobile is-size-5-desktop is-vcentered has-text-weight-medium ">
                                                        <a
                                                                href="{% url 'order_view' order.order_number %}">{{ order.order_number|truncatechars:6 }}
                                                        </a>
                                                    </td>
                                                    <td class="is-size-6-mobile is-size-5-desktop is-vcentered has-text-weight-medium px-0">
                                                          {{ order.date }}

                                                    </td>
                                                   <td class="is-size-6-mobile is-size-5-desktop is-vcentered has-text-weight-medium px-0">
                                                                £ {{ order.grand_total }}
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="{% url 'user_management' %}" class="card-footer-item">View All</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
