{% extends "dashboard/dashboard_base.html" %}
{% load  static %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="columns">
                <div class="column is-12">
                    <section class="hero is-info welcome is-small mb-4">
                        <div class="hero-body ">
                            <div class="container">
                                <h1 class="title">
                                    User Management
                                </h1>
                            </div>
                        </div>
                    </section>

                    <!-- include info tiles -->
                    {% include 'includes/info_tiles.html' %}

                    <div class="columns is-multiline is-mobile is-justified-center">
                        <div class="my-3">
                            <!-- if there is a search term show text of term and a clear icon -->
                            {% if search_term != None %}
                                <p class="has-text-white is-size-5 has-text-weight-bold ">
                                    Showing <span class="has-text-weight-normal"> {{ filtered_users.count }} </span>
                                    users for
                                </p>
                                <p class="has-text-white is-size-5 ">
                                    <em> " {{ search_term }} " </em>
                                    <a class=" has-text-danger" href="{% url 'user_management' %}">
                                        <span class="ml-2"><i class="fas fa-times has-text-danger "></i></span>
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                        <div class="column is-12">
                            <div class="card events-card">
                                <header class="card-header ">
                                    <form method="GET" action="{% url 'user_management' %}">
                                        <div class="field has-addons is-justified-center mx-3 my-3">
                                            <div class="control">
                                                <input class="input " type="text" placeholder="Search Users"
                                                       name="q" aria-label="Search Users">
                                            </div>
                                            <button class="control button is-link" type="submit">
                                                            <span class="icon">
                                                                <i class="fas fa-search"></i>
                                                            </span>
                                            </button>
                                        </div>
                                    </form>
                                </header>
                                <div class="card-table">
                                    <div class="content">
                                        <table class="table is-fullwidth is-striped"
                                               aria-describedby="table of all games in database">
                                            <tr>
                                                <th scope="col" class="has-text-black">Username</th>
                                                <th scope="col" class="has-text-black">Last Seen</th>
                                                <th scope="col" class="has-text-centered px-0 mx-0">Del.</th>
                                            </tr>
                                            <tbody>
                                            {% for user in filtered_users %}
                                                <tr>
                                                    <td class="is-size-6-mobile is-size-5-desktop is-vcentered has-text-weight-medium ">
                                                        {{ user.username|title }}
                                                    </td>
                                                    <td class="is-size-6-mobile is-size-5-desktop is-vcentered has-text-weight-medium px-0">
                                                        {{ user.last_login.date }}
                                                    </td>
                                                    <td class="has-text-centered is-vcentered">
                                                        {% if not user.is_superuser %}
                                                            <a href="{% url 'delete_user' user.id %}">
                                                                <i class="far fa-trash-alt has-text-danger"></i>
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
