{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Main Meta tags -->
    {% block meta %}
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="Description"
      content="Your one stop digital game store, with all your favourite titles."
    />
    <meta
      name="google-site-verification"
      content="Hu_9qtkPOyEginXp8OqvRWLuFtjzQJ045IOY8YHfIxo"
    />
    {% endblock %}

    <!-- Custom Meta tags -->
    {% block custom-meta %} {% endblock %}

    <!-- Main CSS and fonts block-->
    {% block core-css %}
    <!-- Bulma - main CSS framework -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <!-- Bulma Steps - extension for checkout steps -->
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/octoshrimpy/bulma-o-steps/master/bulma-steps.css"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'images/turn-games-logo.svg' %}"
    />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- Base CSS -->
    <link
      rel="stylesheet"
      href="https://ipfs.filebase.io/ipfs/QmbNTMSqrMRt2iu3mhRAPs54btJp6rbPR8KQGZhMx81aTX"
    />
    {% endblock %}
    <!-- END: Main CSS and fonts -->

    <!-- custom css imports block-->
    {% block custom-css %} {% endblock %}

    <!-- Preload JS -->
    {% block core-js %}
    <!-- Font Awesome kit -->
    <script
      src="https://kit.fontawesome.com/bd6196b773.js"
      crossorigin="anonymous"
    ></script>
    <!-- Jquery JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- Stripe Payment system -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Lazy Loading -->

    {% endblock %}
    <!-- END: Preload JS -->

    <!-- custom javascript imports -->
    {% block custom-js %} {% endblock %}

    <!-- Tab Title with optional customization -->
    <title>Turn Games {% block custom-page-title %}{% endblock %}</title>
  </head>
  <body>
    <!-- main header section -->
    <header>
      {% block header %}
      <!-- navbar -->
      {% include 'includes/main-nav.html' %} {% endblock %}
    </header>

    <!-- Background cover -->
    <div class="cover"></div>

    <!-- Spacer section to drop content bellow navbar -->
    <div class="section"></div>

    <!-- Search modal (desktop only)-->
    <div class="modal" id="search-modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="has-text-centered mb-3 has-text-white is-size-4">
          Search for games
        </p>
        <!-- search form -->
        <form method="GET" action="{% url 'games' %}" is="search-form">
          <div class="field has-addons is-justified-center">
            <div class="control">
              <input
                aria-label="search input"
                class="input has-background-black-bis has-text-white"
                id="search-field"
                type="text"
                name="q"
              />
            </div>
            <button class="control button is-link" type="submit">
              <span class="icon"><i class="fas fa-search"></i> </span>
            </button>
          </div>
        </form>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- END: Desktop search modal -->

    <!-- Information messages -->
    {% include 'includes/messages.html' %}

    <!-- page main content -->
    {% block content %} {% endblock %}

    <!-- Display back to top button -->
    <div>
      <button id="top-button" class="button top-button is-dark is-hidden">
        <span class="icon is-small">
          <i class="fas fa-angle-up fa-lg"></i>
        </span>
      </button>
    </div>
    <!-- Spacer section to lift content above footer navbar -->
    <div class="section"></div>

    <!-- footer (desktop only)-->
    {% include 'includes/footer.html' %}

    <!-- custom post load js -->
    {% block post-custom-js %}
    <!-- Base JS -->
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
  </body>
</html>
