{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
    <div class="section py-0 my-0">
        <div class="columns mb-0">
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
            <div class="column has-text-centered is-narrow">
                <h2 class="has-text-white title has-text-weight-light">{% trans "Social Network Login Failure" %}</h2>
            </div>
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
        </div>
    </div>

    <div class="columns is-mobile is-multiline is-justified-center">
        <div class="column is-12">
            <p class="has-text-white">{% trans "An error occurred while attempting to login via your social network account." %}</p>
        </div>
    </div>

{% endblock %}
