{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block inner_content %}
    <div class="section py-0 my-0">
        <div class="columns mb-0">
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
            <div class="column has-text-centered is-narrow">
                <h2 class="has-text-white title has-text-weight-light">{% trans "Login Cancelled" %}</h2>
            </div>
            <div class="column ">
                <hr class="has-background-grey-lighter">
            </div>
        </div>
    </div>
    <div class="columns is-mobile is-multiline is-justified-center">
        <div class="column is-10">
            {% url 'account_login' as login_url %}

            <p class="has-text-white">{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this
                was a mistake, please proceed to <a href="{{ login_url }}" class="has-text-weight-medium">sign in</a>.{% endblocktrans %}</p>
        </div>
    </div>

{% endblock %}
